{{ 'custom-text-product.css' | asset_url | stylesheet_tag }}

{% schema %}
{
  "name": "Custom Text Product",
  "settings": [
    {
      "type": "richtext",
      "id": "rich_text_product",
      "label": "Rich Text Product"
    }
  ]
}
{% endschema %}

{% assign product_type = product.type | downcase %}

<div class="custom-text-product">
  {% if product_type == 'Mobile Phone' %}
    <h2>This is a Mobile Phone</h2>
    {{ section.settings.rich_text_product }}
  {% elsif product_type == 'TV' %}
    <h2>This is a TV</h2>
    {{ section.settings.rich_text_product }}
  {% elsif product_type == 'Watch' %}
    <h2>This is an Watch</h2>
    {{ section.settings.rich_text_product }}
  {% else %}
    <h2>This is a General Product</h2>
    {{ section.settings.rich_text_product }}
  {% endif %}
</div>
